@{
    ViewBag.Title = "About";
}
<div class="row no-gutter">
    <div class="col-xs-2 col-sm-2">
        <div class="leftContainer">
            <div class="wraptocenter"><img src="http://cdn.simplesite.com/i/bd/26/284008257606264509/i284008264448603500._szw149h112_.jpg" alt="some_text"></div>
            
        </div>
    </div>
    <div class="col-xs-7 col-sm-7">
        
        <div class="centerContainer">
            <div class="centerHeader">
                <div class="centerText">
                    <h2>@ViewBag.Title.</h2>
                </div>
            </div>
            <div class="centerText">
                <p><span style="font-family: comic sans ms,sans-serif; font-size: 16px;">Hej </span></p> <p><span style="font-size: 16px;">Mit navn er K&auml;the Lorenzen.</span></p> <p>
                    <span style="font-size: 16px;">
                        Jeg blev l&aelig;geeksamineret fodplejer i Sept. 2012.
                        Uddannelsen har jeg taget i Aulum, hvor jeg ogs&aring; har taget kursus i Kinesisk fodmassage samt Gellac.
                    </span><span style="font-size: 16px;">
                        Hotstonemassagen har jeg taget hos Sabine Bruhn (Ringk&oslash;bing massage og wellnes). Jeg har ogs&aring; kursus
                        i Shellac fra CND, som jeg ogs&aring; forhandler i klinikken.
                    </span>
                </p> <p>
                    <span style="font-size: 16px;">
                        Min klinik ligger i S&oslash;nderris i Esbjerg, og det vil gl&aelig;de mig at se dig til en personlig samt n&aelig;rv&aelig;rende behandling, hvor velv&aelig;re
                        er i centrum.
                    </span>
                </p> <p>
                    <span style="font-size: 16px;">
                        Dine f&oslash;dder skal b&aelig;re rundt p&aring; din krop lige fra den dag, du tager dine f&oslash;rste skridt. Det er en belastning, som faktisk er meget st&oslash;rre, end de fleste g&aring;r rundt
                        og tror.
                    </span>&nbsp;
                </p> <p><span style="font-size: 16px;">De fleste fodlidelser og problemer kan forebygges, hvis du giver dine f&oslash;dder et par minutters opm&aelig;rksomhed hver dag.&nbsp;</span></p> <p>
                    <span style="font-size: 16px;">
                        Du har kun det
                        ene par, som skal b&aelig;re dig gennem hele livet, men ofte glemmer du at pleje dem, fordi de bliver gemt v&aelig;k i str&oslash;mper og sko den lange dag. Du bliver f&oslash;rst opm&aelig;rksom p&aring; dine f&oslash;dder, n&aring;r de bliver &oslash;mme
                        eller noget g&oslash;r ondt i dem.
                    </span>
                </p> <p><span style="font-size: 16px;">Smukke f&oslash;dder giver velv&aelig;re for krop og sj&aelig;l &ndash; dit velv&aelig;re spejler sig i dit udseende, og giver dig&nbsp;indre og ydre sk&oslash;nhed&rdquo;.</span></p>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</div>
