@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Käthe Lorenzen <br/>
    Jomfruens Kvarter 38 <br />
    6710 Esbjerg V <br />
    <abbr title="Phone">Telefon:</abbr>
    26 15 97 92 
</address>
