@{
    ViewBag.Title = "Contact";
}

<div class="row no-gutter">
    <div class="col-xs-2 col-sm-2">
        <div class="leftContainer">
            <div class="wraptocenter"><img src="http://cdn.simplesite.com/i/bd/26/284008257606264509/i284008264448603500._szw149h112_.jpg" alt="some_text"></div>

        </div>
    </div>
    <div class="col-xs-7 col-sm-7">

        <div class="centerContainer">
            <div class="centerHeader">
                <div class="centerText">
                    <h2>@ViewBag.Title.</h2>
                </div>
            </div>
            <div class="centerText">
                <h3>@ViewBag.Message</h3>
                <address>
                    Käthe Lorenzen <br />
                    Jomfruens Kvarter 38 <br />
                    6710 Esbjerg V <br />
                    <abbr title="Phone">Telefon:</abbr>
                    26 15 97 92
                </address>
            </div>
        </div>
    </div>
</div>