@{
    ViewBag.Title = "Velkommen til BeautyFeet";
}

<div class="row no-gutter">
    <div class="col-xs-2 col-sm-2">
        <div class="leftContainer">
            <div class="wraptocenter"><img src="http://cdn.simplesite.com/i/bd/26/284008257606264509/i284008264448603500._szw149h112_.jpg" alt="some_text"></div>
            
        </div>
    </div>
    <div class="col-xs-7 col-sm-7">

        <div class="centerContainer">
            <div class="centerHeader">
                <div class="centerText">
                    <h2>@ViewBag.Title.</h2>
                </div>
            </div>
            <div class="centerText">
                <h3>@ViewBag.Message</h3>
                <ul class="slider">
                    <li>
                        <input type="radio" id="slide1" name="slide" checked>
                        <label for="slide1"></label>
                        <img src="http://cdn.simplesite.com/i/bd/26/284008257606264509/i284008264449402615._msw565h424_szw565h424_.jpg" Panel 1">
                    </li>
                    <li>
                        <input type="radio" id="slide2" name="slide">
                        <label for="slide2"></label>
                        <img src="http://cdn.simplesite.com/i/bd/26/284008257606264509/i284008264449402639._msw565h424_szw565h424_.jpg" Panel 2">
                    </li>
                </ul>​
            </div>
        </div>
    </div>
</div>

