
@{
    ViewBag.Title = "AutError";
}

<h2>Autorization error</h2>
<br/>
<h2 style="color: red"> You are not authorized for this action </h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Get))
{
    <input type="submit" class="btn btn-default btn-xs btn-primary" value="Log in" />
}

