body {
    
}

h2{
    color:white;
}

.leftContainer{
    background-color: #89A249;
    color: white;
    text-align: center;
    height:100vh;
}
.centerContainer{
    border: 1px;
	border: #ffffff solid;
    background-color: #CEDCAA;
    height:100vh;
}
.centerHeader{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #89A249;
}
.centerText {
    margin: 10px;
    padding-bottom:10px;
}

.wraptocenter {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;    
}

.slider {

}
.slider li {
    list-style: none;
    position: absolute;
}
.slider img {
    vertical-align: top;
}

.slider input {
    display: none;
}
.slider label {
    background-color: white;
    bottom: .5em;
    cursor: pointer;
    display: block;
    height: .5em;
    position: absolute;
    width: .5em;
    z-index: 10;
}
.slider li:nth-child(1) label {
    left: .5em;
}
.slider li:nth-child(2) label {
    left: 2em;
}
.slider li:nth-child(3) label {
    left: 3.5em;
}
.slider li:nth-child(4) label {
    left: 5em;
}
.slider img {
    opacity: 0;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}